body {
  font-family:            Georgia, serif;
  text-align:             center;
}

ul {
  margin:                 30px 0;
  padding:                0;
  list-style-type:        none;
}

h3 {
  margin:                 30px 0 5px 0;
}

input {
  font-family:            Georgia;
  font-size:              24px;
  text-align:             center;
  border:                 3px solid black;
  border-radius:          100px;
  max-width:              500px;
  width:                  90%;
  padding:                5px;
}